# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#documentation
data-requirements.md
schema.md

.github/*
.github/custom-instructions.md
.gitignore
.github/task-requirements-settings.md
.github/task-requirements-serverside-email.md
.github/to-do.md
admin_push_notification_triggers.sql
database_validation.sql
